body{
    background-image: url(/resources/logos/back.png);
    background-repeat: round;
    background-color: rgb(0, 0, 0);
    background-attachment: fixed;
}

li{
    font-size: 24px;
}

#on{
    color: #F68C42 !important;
}

#title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 50px;
}

#icon{
    color: #F68C42;
    margin: auto;
}

#icon:hover{
    cursor: pointer;
}